.rev-container{
    padding-top: 10px;
}

.rev-poster{
    border: 2px solid gold;
    border-radius: 5px;
}

.back-button {
    background-color: transparent;
    border: 2px solid gold;
    color: gold;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.back-button:hover {
    background-color: gold;
    color: black;
}